<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0c51d2d8-6163-4f64-a114-2788e5f22c94/resourceGroups/hoangresource/providers/Microsoft.Web/sites/CameraBase20230410013816</ResourceId>
    <ResourceGroup>hoangresource</ResourceGroup>
    <ApiResourceId>/subscriptions/0c51d2d8-6163-4f64-a114-2788e5f22c94/resourceGroups/hoangresource/providers/Microsoft.ApiManagement/service/CameraBaseapi/apis/CameraBase</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://camerabase20230410013816.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5134f959-8cac-4db8-8dcd-e06b85a07e73</ProjectGuid>
    <MSDeployServiceURL>camerabase20230410013816.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CameraBase20230410013816</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CameraBase20230410013816</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>